.auth-wrapper {
  min-height: 100vh;
  background-color: #f7f5ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 900px;
  min-height: 520px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,.08);
  display: flex;
}

.auth-left {
  background: linear-gradient(135deg, #1f7a63, #2fa88a);
  color: #fff;
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right {
  flex: 1;
  padding: 50px;
}

.auth-btn {
  background-color: #1f7a63;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 30px;
  width: 100%;
}

.auth-btn-outline {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  padding: 10px 24px;
}

.auth-btn:hover {
  background-color: #18614f;
}
